#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body{

  background-image: url("https://img.freepik.com/free-photo/black-alarm-clock-white-texture-background_23-2148061593.jpg?w=1380&t=st=1722069865~exp=1722070465~hmac=cda434a0a7ba1fa99b1f471a83b2d5b85d9df3cc53bf4d78dacdeb40ac69f53e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}